// Custom styling


.team2-member {
  margin-bottom: $grid-gutter-width;

  // Image container
   
  .flex2-shrink-0 {
    width: 130px;
         
    img {
   img {
      height: 130px;
      width: 130px;
      border: 3px solid $gray-200;
  }

}
// Include the file _sass/_custom.scss to your site to add custom styling
