---
layout: default
description: Template for team page.
---
---
layout: base
description: Template for a list of posts as cards, with full width.
---



{{ content }}

{% for item in site.posts %}
      {% include card.html %}
{% endfor %}

{% for member in team %}
  <div class="d-flex team-member">
    <div class="flex-shrink-0 me-3">
      {% if member.image %}
        <img src="{{ member.image | relative_url }}" alt="{{ member.name }}">
      {% endif %}
    </div>
    <div>
      <h5 id="{{ member.name | strip | url_encode }}">
        {{ member.name }}
        {% if member.role %}
          <small class="text-muted">| {{ member.role }}</small>
        {% endif %}
      </h5>

   
   
